.container {
    margin: auto;
    padding-top: 310px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 60px;
}

.subheader {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 70px;
    & span {
        font-weight: bold;
        font-size: 20px;
        transition: all 0.3s;
        &:hover {
            color: var(--primary-color);
        }
    }
}

.activeSubheader {
    color: var(--primary-color);
}

.inquiryContainer {
    width: 620px;
    margin: auto;
}

.inquiryImage {
    position: relative !important;
    margin-bottom: 75px;
}
