.container {
    margin: auto;
    padding-top: 310px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 60px;
}

.subheader {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 70px;
    & span {
        font-weight: bold;
        font-size: 20px;
        transition: all 0.3s;
        &:hover {
            color: var(--primary-color);
        }
    }
}

.activeSubheader {
    color: var(--primary-color);
}

.inquiryContainer {
    width: 620px;
    margin: 0 auto 100px auto;
}

.inquiryImage {
    position: relative !important;
    margin-bottom: 75px;
}

.inquiryGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 20px;
}

.submitButton {
    margin: 60px auto 0 auto;
    padding: 15px 40px;
    border-radius: 40px;
    display: block;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Nanum Gothic";
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        color: var(--primary-color);
        background-color: white;
    }
}
