.donateButton {
    position: fixed;
    z-index: 1;
    bottom: 80px;
    right: 100px;
    & > a {
        padding: 12px 40px;
        background-color: var(--primary-color);
        border-radius: 50px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.3s;
        &:hover {
            color: var(--primary-color);
            background-color: white;
        }
    }
}

.finaleMainContainer {
    position: relative;
    & > img {
        position: relative !important;
        display: block;
    }
}

.logo {
    position: absolute;
    width: 160px !important;
    height: auto !important;
    top: 80px !important;
    left: 100px !important;
}

.finaleMainContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & > h1 {
        font-weight: bold;
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 100px;
        text-align: center;
        color: white;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.7),
            0 0 8px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.2);
    }
    & > blockquote {
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        color: white;
        line-height: 50px;
        margin-bottom: 100px;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.7),
            0 0 8px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.2);
        quotes: "\201C""\201D";
        &::before {
            content: open-quote;
        }
        &::after {
            content: close-quote;
        }
    }
    & > img {
        position: relative !important;
        display: block;
    }
}

.hopeContainer {
    position: relative;
    & > img {
        position: relative !important;
        display: block;
    }
}

.hopeContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & > p {
        font-weight: bold;
        font-size: 40px;
        color: white;
        text-align: center;
        line-height: 50px;
        margin-bottom: 100px;
        letter-spacing: -2px;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.7),
            0 0 8px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.2);
    }
    & > h2 {
        font-weight: bold;
        font-size: 50px;
        color: white;
        text-align: center;
        margin-bottom: 130px;
        line-height: 70px;
        letter-spacing: -3px;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.7),
            0 0 8px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.2);
    }
    & > img {
        position: relative !important;
        display: block;
    }
}

.segueContainer {
    position: relative;
    & > img {
        position: relative !important;
        display: block;
    }
}

.segueContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & > h3 {
        font-size: 72px;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
        color: white;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.7),
            0 0 8px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.2);
        margin-bottom: 70px;
    }
}

.segues {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin: auto;
}

.segue {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding: 16px 50px;
    background-color: var(--primary-color);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s;
    & > p {
        font-size: 32px;
        color: white;
        line-height: 64px;
        font-weight: bold;
    }
    & > img {
        position: relative !important;
        display: block;
        filter: invert(99%) sepia(70%) saturate(2%) hue-rotate(153deg)
            brightness(108%) contrast(101%);
    }
    &:hover {
        background-color: white;
    }
    &:hover > p {
        color: var(--primary-color);
    }
    &:hover > img {
        filter: invert(32%) sepia(88%) saturate(4527%) hue-rotate(349deg)
            brightness(100%) contrast(101%);
    }
}
