.container {
    margin: auto;
    padding-top: 310px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 60px;
}

.subheader {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 60px;
    span {
        font-weight: bold;
        font-size: 20px;
        transition: all 0.3s;
        &:hover {
            color: var(--primary-color);
        }
    }
    .activeSubheader {
        color: var(--primary-color);
    }
}

.pressContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 35px;
    align-self: stretch;
    margin-bottom: 65px;
}

.articleContainer {
    border: 1px solid #d9d9d9;
}

.articleThumbnail {
    position: relative !important;
    height: inherit !important;
}

.articleTitle {
    padding: 20px;
    & > h2 {
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 26px;
    }
    & > p {
        font-size: 15px;
        color: #656565;
    }
}
