.container {
    padding-top: 200px;
    width: 1200px;
    margin: auto;
}

.header {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
}

.titleInput {
    width: 100%;
    margin-bottom: 20px;
}

.toolBar {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}

.isFixedCheckBox {
    margin: 20px 0;
}

.datePicker p {
    margin-top: 5px;
}

.editor {
    border: 1px solid gray;
    padding: 5px;
}

.submitButton {
    margin: 20px 0 100px 0;
    display: block;
}
