.donateButton {
    position: fixed;
    z-index: 1;
    bottom: 80px;
    right: 100px;
    & > a {
        padding: 12px 40px;
        background-color: var(--primary-color);
        border-radius: 50px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.3s;
        &:hover {
            color: var(--primary-color);
            background-color: white;
        }
    }
}

.preludeMainContainer {
    position: relative;
    & > img {
        position: relative !important;
    }
    & > h2 {
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        font-size: 96px;
        color: white;
        line-height: 120px;
        text-align: center;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.logo {
    position: absolute;
    width: 160px !important;
    height: auto !important;
    top: 80px !important;
    left: 100px !important;
}
