.container {
    width: 100%;
}

.keeper {
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.keeper > p {
    color: white;
    font-weight: bold;
    font-size: 23px;
}

.menu {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sponsor > p {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    background-color: var(--primary-color);
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all 0.3s;
    &:hover {
        background-color: white;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}
