.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.noWalkingImage {
    position: relative !important;
    width: 300px !important;
    height: auto !important;
    margin-bottom: 20px;
}

.header {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 24px;
}
