.container {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.keeper {
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
        color: white;
        font-weight: bold;
        font-size: 23px;
    }
}

.menuContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    background-color: white;
    height: 100px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sponsor {
    width: 137px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    transition: all 0.3s;
    & > span {
        font-weight: bold;
        font-size: 20px;
        color: white;
        transition: all 0.3s;
    }
    &:hover {
        background-color: white;
        & > span {
            color: var(--primary-color);
        }
    }
}

.navigationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 60px;
    margin-right: 60px;
}

.menuItem > span {
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s;
    &:hover {
        color: var(--primary-color);
    }
}

.subMenuOuterContainer {
    position: absolute;
    padding-top: 30px;
    transform: translateX(-50%);
    left: 50%;
}

.subMenuContainer {
    position: relative;
    &:hover .subMenu {
        display: block;
    }
}

.subMenu {
    display: none;
    width: 190px;
    background-color: white;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.1);
}

.subMenuItem {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
        font-weight: bold;
        font-size: 20px;
        transition: all 0.3s;
    }
    &:hover > span {
        color: var(--primary-color);
    }
}

.switcherContainer {
    position: relative;
}

.togglerContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 10px 7px 20px;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        border: 1px solid var(--primary-color);
    }
}

.flagImage {
    position: relative !important;
    border: 1px solid black;
}

.panelContainer {
    position: absolute;
    top: 80px;
    right: 0;
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.1);
}

.locale {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    & > p {
        text-transform: uppercase;
    }
}
