.outerContainer {
    border-top: 1px solid var(--primary-color);
}

.innerContainer {
    width: 1200px;
    margin: auto;
    padding: 90px 0 87px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
}

.header {
    font-weight: bold;
    font-size: 20px;
    transform: translateY(20px);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 37px;
}

.information,
.conversation,
.socialMedia {
    & > h3 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 14px;
    }
    & > p {
        line-height: 27px;
        font-size: 17px;
    }
}

.bottomLink {
    display: block;
    border-top: 1px solid black;
    padding-top: 11px;
    transition: all 0.3s;
    & > span {
        font-size: 17px;
        transition: all 0.3s;
    }
    &:hover {
        border-color: var(--primary-color);
    }
    &:hover > span {
        color: var(--primary-color);
    }
}

.socialMediaLogos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    & img {
        transition: all 0.3s;
    }
    & img:hover {
        filter: invert(36%) sepia(89%) saturate(4860%) hue-rotate(348deg)
            brightness(107%) contrast(109%);
    }
}

.copyright {
    font-size: 17px;
    border-top: 1px solid black;
    padding-top: 11px;
}
